.Title {
  display: flex;
  align-content: space-between;
  align-items: center;
  background: #0f1d4b;
  padding: 5px 15px;
  box-shadow: 0 2px 5px 0px #000000;
  color: #aeb7d5;
  margin-bottom: 5px;
}

.text {
  display: flex;
  flex: 1 1 auto;
  color: #aeb7d5;
  font-size: 1.25rem;
}

.github {
  display: flex;
  flex: 0 0 auto;
}
